
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>
            @ViewBag.name
            
        </h1>
        <div>
            @Session.SessionID
        </div>
        <div>
            @Session.IsNewSession
        </div>
        <div>
            @Session.Count
        </div>


    </div>
    <div>
        @Html.RouteLink("Show Link",new { controller="Registeration",action="show"})
        @Html.RouteLink("Destroy Link", new { controller = "Registeration", action = "destroy" })


    </div>
</body>
</html>
